.place-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.location-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.book-button {
  width: 80%;
  max-width: 300px;
  margin-top: 20px;
}
