<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/places/tabs/discover"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <div class="loading-spinner" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid fixed class="place-details-grid" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-img [src]="place.imageUrl" class="place-image"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
        <p class="place-description">{{ place.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
        <p class="place-address">{{ place.placeLocation.address }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-img
          [src]="place.placeLocation.staticMapImageUrl"
          class="location-image"
          role="button"
          (click)="onShowFullMap()"
          alt="Map Image"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-img
          [src]="place.placeImageUrl"
          *ngIf="place.placeImageUrl"
          class="place-image"
        ></ion-img>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isBookable">
      <ion-col size="12" class="ion-text-center ion-padding">
        <ion-button color="dark" (click)="onBookPlace()" class="book-button"
          >Book Now</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
